*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     background: hsl(0, 0%, 95%);
     background-repeat: no-repeat;
     // height: 100vh;
     overflow: hidden;
}

.main-container{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 100vh;
}

.level {
     display: flex;
     justify-content: center;
     margin: 20px;
     font-size: 1.5rem;

     .options {
          border: none;
          background-color: #333;
          color: hsl(39, 750%, 70%);
          margin: 0 10px;
          height: 25px;
     }

     #setLevel {
          border: none;
          margin: 0 10px;
          background-color: hsl(0, 79%, 72%);
          width: 50px;
          height: 25px;
          transition: background-color 0.2s;

          &:hover {
               background-color: hsl(0, 79%, 50%);
               color: white;
          }
     }
}

.continer {
     display: flex;
     align-items: center;
     justify-content: center;
     // height:100vh;

     .gameContainer {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(4, 1fr);
          grid-gap: 5px 10px;
          border: 3px solid;
          width: 650px;
          height: 650px;
          background-color: hsl(0, 0%, 70%);
          padding: 10px;
          perspective: 1500px;

          @media (max-width:710px) and (orientation: landscape) {
               width: 400px;
               height: 400px;
          }

          .cardContainer {
               position: relative;
               transform-style: preserve-3d;
               transition: all 0.5s;

               // &:hover{
               //      transform: rotateY(180deg);;
               // }
               .front,
               .back {
                    position: absolute;
                    backface-visibility: hidden;
                    transform: rotateY(0deg);
               }

               .back {
                    transform: rotateY(180deg);
               }

               img {
                    width: 100%;
                    height: 100%;
                    border: 1px solid;
                    background-color: #fff;
               }
          }
     }
}